@media screen and (max-width: 1024px){

  #dev8{
    position: relative;
    width:65%;
    margin-left: auto;
    margin-right: auto;
  }

  #dev8 svg {
    position: relative;
    top:0;
  }

  #infoBox{
    position: relative;
    height: 20%;
    padding:15px;
  }

  #infoBox #infoBoxContent{
    position: relative;
    height: 100%;
  }

  #infoBox #infoBoxContent #headline{
    position: relative;
    font-weight: 550;
    font-size:25px;
  }

  #infoBox #infoBoxContent #nav{
    position: relative;
    height: 58px;
    padding: 15px 0 15px 0;  
    min-width: 400px;
    overflow: hidden; 
  }

  #infoBox #infoBoxContent span.nav-question,
  #infoBox #infoBoxContent span.nav-rules, 
  #infoBox #infoBoxContent span.nav-key, 
  #infoBox #infoBoxContent span.nav-goal{
    color: white;
    font-weight: bold;
    padding: 5px;
    margin: 0 5px 0 0;
    font-size:12px;
    border: solid 2px white;
    border-radius: 2px;
    cursor: pointer;
  }

  #infoBox #infoBoxContent span.nav-question,
  #infoBox #infoBoxContent span.nav-rules,
  #infoBox #infoBoxContent span.nav-key, 
  #infoBox #infoBoxContent span.nav-goal{
    opacity: 0.2;
    cursor: pointer;
  }

  #infoBox #infoBoxContent span.nav-question.selected, 
  #infoBox #infoBoxContent span.nav-rules.selected, 
  #infoBox #infoBoxContent span.nav-key.selected,
  #infoBox #infoBoxContent span.nav-goal.selected{
    opacity: 1;
  }
  
  #infoBox #infoBoxContent span.nav-goal{
    background-color: #ff0086;
    float: left
  }

  #infoBox #infoBoxContent span.nav-question{
    background-color: #ff0086;
    float: left
  }

  #infoBox #infoBoxContent span.nav-key{
    background-color: #ff0086;
    float: left
  }

  #infoBox #infoBoxContent span.nav-rules{
    background-color: #ff0086;
    float: left
  }

  #infoBox #infoBoxContent #dev8Content{
    position: relative;
  }

  #infoBox #infoBoxContent #dev8Content #dev8Description{
    position: relative;
    border: solid white 4px;
    border-radius: 3px;
    padding: 15px 5px 15px 5px;
    font-weight: 100;
    font-size: 15px;
    font-family: Arial;
    color: white;
  }

  #infoBox #infoBoxContent .impressum{
    position: relative;
    margin: 10px 0 0 0;
  }

  #infoBox #infoBoxContent .impressum .version{
    color: #565b5b;
    font-family: Arial;
    font-size: 15px;  
  }
  
  #infoBox #infoBoxContent .impressum .author{
    font-family: Arial;
    font-size: 10px;
    color: #565b5b;
  }
}  

