
body{
	height: 100%;
	margin:0;
	background-color:#c8c8c8;
  font-family: Arial;
}

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}
	
html{‚
	height: 100%;
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }

p.magenta, 
div.magenta,
span.magenta{
	color:#ff0086;
}

.hidden{
  display: none;
}

p.center{
  text-align: center;
  margin: 0px 0 15px 0;
  font-weight: bold;
}

p.center.last{
  margin: 15px 0 15px 0;
}

span.big{
	font-weight: 550;
	font-size:60px
}

span.semiBig{
	font-weight: 550;
	font-size:60px
}

span.small{
	font-weight: 500;
	font-size:40px
}

span.inTextBig{
  font-weight: 500;
  font-size:25px
}

.default{
	background-color: #565b5b;
}

ul {
    display: block;
    list-style-type: none;
}

ul li{
  padding: 5px 0 5px 0;
}

ul li:before {
    content: "• ";
    color: #ff0086; 
    font-size: 20px;
    position: absolute;
    left:35px;
}
