
body{
	height: 100%;
	margin:0;
	background-color:#c8c8c8;
}

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}
	
html{‚
	height: 100%;
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }

svg .label{
	fill: #ffffff;
	font-family:Arial;
	
}

svg .numbers{
	fill: #ffffff;
	font-family: Arial;
	font-weight: 550;
}

svg .numbers.big{
	font-size:200px;
	font-weight:500;
}


svg .label.circle{
	font-style:italic;
	font-weight: bold;
}
#dev8 svg {
	  position: relative;
  	  bottom:0;
	  max-height: 100%;
}
#infoBox #infoBoxContent{
	overflow: hidden;
  	position: relative;
  	height: 100%;
  }
#infoBox #infoBoxContent .impressum{
	padding: 10px 0 10px 0;
	position: absolute;
	bottom:0;
	width:100%;
}
#infoBox #infoBoxContent .impressum .version{
	color: #565b5b;
	font-family:Arial;
	font-size:20px;
}
#infoBox #infoBoxContent .impressum .author{
	font-family:Arial;
	font-size:10px;
	color: #565b5b;
}

@media screen and (min-width: 1024px) {
  #dev8{
  	  position: absolute;
	  left:0;
	  top:0;
  	  height: 100%;
	  width: 50%;
  }
  #infoBox{
    height: 100%;
    width: 50%;
    padding:15px;
    position: absolute;
    left:50%;
  }
  #infoBox #infoBoxContent .impressum{
  	max-height: 10%;
  	text-align: left;
  }

}
@media screen and (max-width: 1024px) {
  #dev8{
  	height: 90%;
	width: 100%;
	position: absolute;
  	top: 0%;
  }
  #infoBox{
    height: 10%;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  #infoBox #infoBoxContent .impressum{
  	max-height: 100%;
  	text-align: center;
  }
}