<div id="dev8">
</div>
<div id="infoBox">
  <div id="infoBoxContent">
  	 <div id="headline" class="magenta small">Today: 
        <span id="sprintNumber">
          <!-- Default Spinner Beginn -->
            <span>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
              <path fill="#ff0086" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
                <animateTransform attributeType="xml"
                  attributeName="transform"
                  type="rotate"
                  from="0 25 25"
                  to="360 25 25"
                  dur="0.6s"
                  repeatCount="indefinite"/>
                </path>
              </svg>
            </span>
          <!-- Default END -->
        </span>
      </div>
      <div id="dev8Content" >
          <!-- Default Spinner Beginn -->
            <div id="loader">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
              <path fill="white" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
                <animateTransform attributeType="xml"
                  attributeName="transform"
                  type="rotate"
                  from="0 25 25"
                  to="360 25 25"
                  dur="0.6s"
                  repeatCount="indefinite"/>
                </path>
              </svg>
            </div>
          <!-- Default END -->
          <div id="dev8Description" class="default">
          </div>
      </div>
      <div class="impressum">
        <div class="version"><span class="magenta">Development8</span> - Version: 1.1 (20180413)</div>
        <div class="author">Author: Philipp Bonin (mail@development8.de)</div>
      </div>
  </div>
<div>